# Use the PyTorch CUDA 12.1 index only for the torch packages
# uncomment for gpu support
# --extra-index-url https://download.pytorch.org/whl/cu121

# torch==2.1.1+cu121
# torchvision==0.16.1+cu121

# General packages from PyPI
torch
torchvision
numpy
matplotlib
numpy==1.22.4
scikit-learn==1.3.2
opencv-python
opencv-contrib-python
seaborn
pandas
ipykernel